card-color = #FDFDFD




.rss-card
  display block
  background-color: card-color

.card-text
  display: inline-block;
  // background-color: blue

.card-image
  // background-color: red
  display: inline-block;
