html {
  font-family: helvetica;
  font-weight: 900;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
main.home {
  background-color: #00f;
}
header nav {
  background-color: #fff;
}
header nav div {
  border-bottom: 2px solid #00d7f3;
}
header nav div a {
  color: #00d7f3;
}
.luCard {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  display: block;
  margin: 10px;
  background-color: #f0ead6;
}
.luCard-content {
  width: 100%;
}
.dash-frame {
  overflow: hidden;
  width: 100%;
  max-width: 1000px;
  max-height: 500px;
  margin: auto;
}
.dash-frame .scroll-container {
  overflow: auto;
  height: 70vh;
  margin: 15px -300px 15px 15px;
  padding-right: 300px;
}
.sub-nav .tabs {
  background-color: #6fd6a5;
}
.sub-nav .tabs .indicator {
  background-color: #f03;
}
.sub-nav .active {
  background-color: #6fd6a5;
}
.rss-card-image-container {
  height: auto;
}
.rss-card-image {
  margin: 0 10px 10px 10px 10px;
  width: 100%;
  max-height: 150px;
  max-width: 150px;
}
.rss-card-text {
  margin-left: 115px;
  display: inline-block;
  width: 60%;
  height: auto;
}
.schedule-card .logo {
  max-height: 50px;
  max-width: 50px;
}
.schedule-card .score {
  font-size: larger;
}
.league-table {
  position: relative;
}
.league-table .crest {
  width: 20px;
  height: 20px;
}
.league-table .active {
  background-color: #f00;
}
