html {
  font-family: helvetica;
  font-weight: 900;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
.luCard {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  display: block;
  margin: 10px;
  background-color: #fdfdfd;
  padding: 10px;
}
.rss-card-image-container {
  height: auto;
  display: inline-block;
  position: absolute;
}
.rss-card-image {
  display: inline-block;
  margin: 0 10px 10px 10px 10px;
  max-height: 150px;
  max-width: 150px;
}
.rss-card-text {
  margin-left: 115px;
  display: inline-block;
  width: 60%;
  height: auto;
}
.schedule-card-content {
  display: flex;
  justify-content: space-around;
}
.schedule-half {
  display: inline-block;
  position: relative;
  background-color: #ffdab9;
}
.schedule-divider {
  display: inline-block;
  background-color: #deb887;
}
.schedule-team,
.schedule-game {
  display: inline-block;
}
.schedule-time {
  display: flex;
  justify-content: center;
}
.schedule-game .score {
  font-size: x-large;
}
.schedule-team {
  display: flex;
  width: 160px;
  position: absoltue;
}
