// Colors:

card-color = eggshell

header-color = white
header-border = bright-blue
header-text-color = bright-blue

sub-nav-tab-color = dull-green
active-sub-nav-color = chill-green
tab-text-color = dull-green
indicator-color = glo-red

// card colors
tan = #ccc3b4
pinkish = #ffdeed
eggshell =  #F0EAD6

// greens
green = #159d00
chill-green = #6fd6a5
dull-green = #ace1ca

// blues
bright-blue = #00d7f3

// reds
glo-red = #ff0033

  html {
    font-family: helvetica;
    font-weight: 900;
  }

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  main.home
    background-color blue

  cardShadow = 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

header
  nav
    background-color: header-color
    div
      border-bottom: 2px solid header-border
      a
        color header-text-color

// Global styles
.luCard
  box-shadow: cardShadow
  display block
  margin 10px//0 10px 10px 10px 10px
  background-color: card-color
  //padding 10px
  &-content
    width 100%

// styling for the dash boxes
.dash-frame
  overflow: hidden;
  width: 100%
  max-width 1000px
  max-height: 500px
  margin auto
  .scroll-container
    overflow: auto;
    height 70vh
    margin: 15px -300px 15px 15px
    padding-right: 300px

.sub-nav
  // a
  //   color: tab-text-color
  .tabs
    background-color: active-sub-nav-color
    .indicator
      background-color: indicator-color
  .active
    background-color: active-sub-nav-color

// RSS Card styles -- should be easily adapted to other stuff

  // variables
  rssIconHeight = 150px
  rssIconWidth = 150px

.rss-card
  &-image-container
    height auto
    // display inline-block
    // position absolute
    // width 50
  &-image
    // display: inline-block;
    // position absolute
    margin 0 10px 10px 10px 10px
    width 100%
    max-height: rssIconHeight
    max-width: rssIconWidth
  &-text
    margin-left 115px
    display inline-block
    width: 60%
    height auto

  // Schedule styles
schedIconHeight = 50px
schedIconWidth = 50px
.schedule-card
  .logo
    max-height schedIconHeight
    max-width schedIconWidth
  .score
    font-size: larger

.league-table
  position relative
  .header
    // display block
    // position: fixed;
  .crest
    width 20px
    height 20px
  .active
    background-color: red
