<div class="">
  <!-- <nav> -->
    <div class="sub-nav row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3" ng-repeat="nav in vm.dashFrames" ng-click="vm.setActive(nav.id)"><a href="#" ng-bind="nav.name"></a></li>
        </ul>
      </div>
    </div>
  <!-- </nav> -->

  <h5>dash template</h5>

  <div class="dash-frames-container">
    <div class="row">
      <div class="col s6">
        <ng-include ng-class="{'hide-on-small-only' : vm.activeFrame !== frame.id}" ng-repeat="frame in vm.dashFrames"  src="frame.href">

      </div>

    </div>

    </ng-include>
  </div>

  <!-- <div class=""  ng-include="'angular/views/pages/dash/rss.html'"></div>
  <div class="" ng-include="'angular/views/pages/dash/schedule.html'"></div>
  <div class="" ng-include="'angular/views/pages/dash/table.html'"></div> -->

</div>
