<div ng-controller="rssController as vm">
  This is the RSS page

  <div class="card dash-card rss-card" ng-repeat="rss in vm.feed | limitTo : 10">
    <a ng-href="{{rss.link}}" target="_blank">
      <div class="card-image">
        <img ng-src="{{rss.image.url}}" ng-style="{'height' : '150px', 'width':'150px'}" alt="" />
      </div>
      <div class="rss-card card-text right">
          <span class="card-title" ng-bind="rss.title"></span>
          <p>Lorem Ipsum had a great game in the Sid no quet dolore cup yesterdatum</p>
          <p>From a source</p>
      </div>
    </a>
  </div>

</div>
