<div class="rss-container dash-frame" ng-controller="rssController as vm">
  <div class="scroll-container">
    <div class="rss-card luCard row" ng-repeat="rss in vm.feed | limitTo : 10" ng-click="vm.setActive($index)" ng-class="{'active' : $index === vm.activeCard}">
      <div class="rss-card-image-container col s2">
        <img class="rss-card-image" ng-src="{{rss.image.url}}" alt="" />
      </div>
      <div class="rss-card-text col s10">
          <p class="rss-card-text-title" ng-bind="rss.title"></p>
          <p class="rss-card-text-body" ng-show="$index === vm.activeCard" ng-bind="rss.description | cardTrim"></p>
          <a class="btn rss-link right" ng-show="$index === vm.activeCard" ng-href="{{rss.link}}" target="_blank">Go to</a>
      </div>
    </div>
  </div>
</div>
