<div ng-controller="scheduleController as vm">
  This is the schedule page

  <div class="schedule-card luCard" ng-repeat="fixture in vm.schedule.fixtures | limitTo : 10">
      <div class="schedule-card-content">
        <div class="row">
          <div class="col s6">
            <p ng-bind="fixture.homeTeamName"></p>
            <img class="logo" ng-src="{{vm.logos[fixture.homeTeamName]}}" alt="" />
          </div>
          <div class="col s6">
            <p ng-bind="fixture.awayTeamName"></p>
            <img class="logo" ng-src="{{vm.logos[fixture.awayTeamName]}}" alt="" />
          </div>
          <div class="col s6">
            <p ng-bind="fixture.result.goalsHomeTeam"></p>
          </div>
          <div class="col s6">
            <p ng-bind="fixture.result.goalsAwayTeam"></p>
          </div>
        </div>
              <!-- <p class="score" ng-bind="fixture.result.goalsHomeTeam"></p>

          <div class="schedule-divider"> - </div>
          <p class="score"   ng-bind="fixture.result.goalsAwayTeam"></p>
            <div class="schedule-team away">
            </div> -->
          </div>
      </div>

      <!-- <div class="schedule-time">
        <p ng-bind="fixture.date"></p>
      </div> -->
  </div>

</div>
