<!DOCTYPE html>
<html ng-app="linkupApp">
  <head>
    <meta charset="utf-8">
    <title>LinkUp</title>
    <base href="/" target="_blank" />
    <!-- Pull in external libraries -->
      <!-- jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js" charset="utf-8"></script>
      <!-- Angular -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js" charset="utf-8"></script>
        <!-- ngRoute -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-route.min.js" charset="utf-8"></script>
      <!-- Materialize -->
        <!-- Compiled and minified CSS -->
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>


    <!-- My angular -->
      <!-- module -->
      <script src="/angular/app-routes.js" charset="utf-8"></script>
      <script src="/angular/app.js" charset="utf-8"></script>

      <!-- services -->
      <script src="/angular/services/authService.js" charset="utf-8"></script>
      <script src="/angular/services/userService.js" charset="utf-8"></script>
      <script src="/angular/services/dataService.js" charset="utf-8"></script>

      <!-- controllers -->
      <script src="/angular/controllers/userCtrl.js" charset="utf-8"></script>
      <script src="/angular/controllers/mainCtrl.js" charset="utf-8"></script>
      <script src="/angular/controllers/dashCtrl.js" charset="utf-8"></script>

  </head>
  <body ng-controller="mainController as main">
    <div class="container">
      <header>
        <nav>
          <div class="nav-wrapper">
            <a href="#" class="brand-logo left">LinkUp</a>
            <ul id="nav-mobile" class="right">
              <li><a href="/users">Users</a></li>
              <li ng-if="!main.loggedIn"><a href="/login">Login</a></li>
              <li ng-if="main.loggedIn">Hello {{main.user.name}}</li>
              <li ng-if="main.loggedIn"><a href="#" ng-click="main.doLogout()">Logout</a></li>
              <li ><a href="/about">About</a></li>
              <li><a href="/rss">rss</a></li>
              <li><a href="/dash">Dash</a></li>
            </ul>
          </div>
        </nav>
      </header>

      <main>
        <h1>{{main.bigMessage}}</h1>
        <div ng-view></div>
      </main>

      <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Footer Content</h5>
              <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2014 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
          </div>
        </div>
      </footer>

    </div>
  </body>
</html>
