<!DOCTYPE html>
<html ng-app="linkupApp">
  <head>
    <meta charset="utf-8">
    <title>LinkUp</title>
    <base href="/" target="_blank" />
    <!-- Pull in external libraries -->
      <!-- jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js" charset="utf-8"></script>
      <!-- Angular -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js" charset="utf-8"></script>
        <!-- ngRoute -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-route.min.js" charset="utf-8"></script>
      <!-- Materialize -->
        <!-- Compiled and minified CSS -->
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
        <!-- Materialize Icons -->
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- My styles -->
    <link rel="stylesheet" href="assets/css/main.css" title="no title" charset="utf-8">


    <!-- My angular -->
      <!-- module -->
      <script src="/angular/app-routes.js" charset="utf-8"></script>
      <script src="/angular/app.js" charset="utf-8"></script>

      <!-- services -->
      <script src="/angular/services/authService.js" charset="utf-8"></script>
      <script src="/angular/services/userService.js" charset="utf-8"></script>
      <script src="/angular/services/dataService.js" charset="utf-8"></script>
      <script src="/angular/services/dashFilters.js" charset="utf-8"></script>

      <!-- controllers -->
      <script src="/angular/controllers/userCtrl.js" charset="utf-8"></script>
      <script src="/angular/controllers/mainCtrl.js" charset="utf-8"></script>
      <script src="/angular/controllers/dashCtrl.js" charset="utf-8"></script>

  </head>
  <body ng-controller="mainController as main">
    <!-- <div class="container"> -->
      <header>
        <nav class="blue-text">
          <div class="nav-wrapper">
            <a href="#" ng-click="main.hideNav()" class="left">LinkUp</a>
            <a href="#" data-activates="nav-mobile" class="button-collapse right"><i class="material-icons">menu</i></a>
            <!-- Non-mobile nav -->
            <ul id="" class="right hide-on-med-and-down">
              <li ng-if="!main.loggedIn"><a href="/">Login</a></li>
              <li ng-if="main.loggedIn">Hello {{main.user.name}}</li>
              <li ng-if="main.loggedIn"><a href="#" ng-click="main.doLogout()">Logout</a></li>
              <li ><a href="/about">About</a></li>
              <li><a href="/dash">Dash</a></li>
            </ul>
            <!-- Mobile nav -->
            <ul id="nav-mobile" class="side-nav" ng-click="main.hideNav()">
              <li ng-if="!main.loggedIn"><a href="/">Login</a></li>
              <li ng-if="main.loggedIn" ng-click="vm.hideNav()">Hello {{main.user.name}}</li>
              <li ng-if="main.loggedIn"><a href="#" ng-click="main.doLogout()">Logout</a></li>
              <li ><a href="/about">About</a></li>
              <li><a href="/dash">Dash</a></li>
            </ul>
          </div>
        </nav>
      </header>

      <main ng-style="{'background-image' : 'url(' + main.bUrl() + ')'}">
        <div ng-view></div>
      </main>

      <footer class="page-footer">
        <div class="container">

        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2014 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
          </div>
        </div>
      </footer>

    <!-- </div> -->
  </body>
  <!-- materialize inits -->
  <script type="text/javascript">
    $( document ).ready(function(){
      $(".button-collapse").sideNav();
      $('ul.tabs').tabs();
    })
  </script>
</html>
